 <div class="user-details">
  <h1> Minhas especialidades </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Acreditamos que a CRIATIVIDADE é uma ferramenta poderosa para transformar contextos e resolver problemas.
E sem criatividade não existe INOVAÇÃO. E sem inovação o mundo não muda.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Esses são nossos alimentos, o que nos refresca e nos movimenta, o que nos guia e nos motiva.</p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Este ciclo é o alimento do nosso trabalho e a essência da nossa missão: incentivar e valorizar ideias e espalhar inspiração.</p>
    </div>
</div>
